@use '../general/variables' as var;

.card-event {
  height: clamp(20rem, 22rem, 35rem);
  border: 1px solid #55555569;
  border-radius: var.$border-radius;
  transition: box-shadow 0.45s ease-in-out;
  &:hover {
    box-shadow: var.$shadow-md;
  }

  .card-event-header {
    min-height: 2.5rem;
    padding-inline: 5rem;

    @media screen and (min-width: 992px) {
      padding-inline: 0.5rem;
      min-height: 8rem;
    }
  }
}
