@use '../general/variables' as var;

.carousel-control-prev,
.carousel-control-next {
  z-index: 5;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  position: relative;
}
.carousel-control-prev-icon:before,
.carousel-control-next-icon:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  transition: background-color 0.45s ease-out, border 0.45s ease-out;
}
.carousel-control-prev-icon:hover:before,
.carousel-control-next-icon:hover:before {
  background-color: rgba(58, 58, 58, 0.514);
  border: 1px solid rgb(61, 61, 61);
}

.carousel-item:nth-child(2) img {
  background-color: #fff;
}

.carousel-caption {
  position: absolute;
  top: 0;
  left: 50%;
  right: 0;
  bottom: 0;
  background-color: #fff;
  p {
    color: #062367;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
    background-color: #fff;
    margin-bottom: 0;
  }
  .carousel-subtitle {
    position: relative;
    z-index: 2;
    color: #062367;
    font-size: 38px;
    line-height: 1.05;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
  .carousel-subtitle::after {
    content: '';
    position: absolute;
    z-index: 1;
    bottom: -0.3rem;
    left: 0;
    // right: calc(100% - 16rem);
    // height: 15px;
    // width: auto;
    background-color: var.$secondary-clr-50;
    opacity: 0.2;
  }
  .carousel-subtext {
    font-size: 1rem;
  }
  ~ .carousel-subtext:nth-child(1) {
    padding-top: 3rem;
  }
  button {
    margin-top: 3rem;
  }
}
.carousel-item:nth-child(1) .carousel-subtitle::after {
  right: calc(100% - 21rem);
  height: 15px;
}
.carousel-item:nth-child(2) .carousel-subtitle::after {
  right: calc(100% - 16rem);
  height: 15px;
}
.carousel-item:nth-child(3) .carousel-subtitle::after {
  right: calc(100% - 13rem);
  height: 15px;
}
.carousel-item:nth-child(4) .carousel-subtitle::after {
  right: calc(100% - 20rem);
  height: 15px;
}

@media screen and (max-width: 1024px) {
  .carousel-indicators button {
    visibility: hidden;
  }
  .carousel-inner {
    height: clamp(28rem, 65rem, 710px);
  }
  .carousel-item {
    position: relative;
    height: 100%;
    // overflow: visible !important;
    img {
      object-fit: cover;
      object-position: 0% center;
      height: 50%;
    }
    &:nth-child(1) .carousel-subtitle::after {
      right: calc(100% - 14rem);
      height: 15px;
    }
    &:nth-child(2) .carousel-subtitle::after {
      right: calc(100% - 11rem);
      height: 15px;
    }
    &:nth-child(3) .carousel-subtitle:after {
      right: calc(100% - 9rem);
      height: 15px;
    }
    &:nth-child(4) .carousel-subtitle::after {
      right: calc(100% - 13rem);
      height: 15px;
    }
  }
  .carousel-caption {
    left: 0;
    top: 50%;
    height: 50%;
    right: 0;
    background-color: #fff;
    padding-top: 0 !important;
  }
  .carousel-caption p {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.2;
    background-color: #fff;
    margin-bottom: 0;
  }
  .carousel-caption {
    padding-top: 35px;
    padding-top: 5vh !important;
    // background-color: red !important;
  }
  .carousel-caption .carousel-subtitle {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.1;
    margin-block: 1rem;
  }
}
