@use '../general/variables' as var;

.card-sm {
  background-color: #fff;
  transition: box-shadow 0.45s ease-in-out;
  max-width: 565px;
  border-radius: var.$border-radius;
  overflow: hidden;

  .card-img img {
    width: 200px;
    height: 330px;
  }
  .card-content {
    width: calc(100% - 200px);
  }
  &:hover {
    box-shadow: var.$shadow-md;
  }
}
