@use '../general/variables' as var;

.card-lg {
  background-color: #fff;
  transition: box-shadow 0.45s ease-in-out;
  max-width: 1156px;
  min-height: 330px;
  border-radius: var.$border-radius;
  overflow: hidden;
  &:nth-child(1) {
    margin-right: 1rem;
  }
  //   background-color: red;
  //   border: 1px solid red;
  .card-img-lg img {
    width: auto;
    height: 100%;
    object-fit: cover;
    object-position: left center;
  }
  .card-content {
    width: calc(100% - 200px);
  }
  &:hover {
    box-shadow: var.$shadow-md;
  }
}
