@use '../general/variables' as var;

.card-quotes {
  position: relative;
  background-color: #fff;
  height: 175px;
  width: 175px;
  width: auto;
  border-radius: var.$border-radius;
  overflow: hidden;
}

// .card-quotes img {
//   height: 45px;
//   width: auto;
// }
.card-quotes svg {
  display: block;
  // height: 200rem;
  // padding-top: 20rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  // height: 45px;
  // width: 500px;
  * {
    transform-box: fill-box;
    transform-origin: center;
  }
}
