@use '../general/variables' as var;

.card-support {
  position: relative;
  max-height: 370px;
  max-width: 370px;
  overflow: hidden;
  border-radius: var.$border-radius;
  transition: box-shadow 0.45s ease-in-out;
  &:hover {
    box-shadow: var.$shadow-sm;
  }
  .card-support-bg img {
    width: 100%;
    transition: transform 0.45s ease-in-out;
  }
  &:hover .card-support-bg img {
    transform: scale(1.05);
  }
  .card-support-content {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.47);
    transform: translateY(65%);
    transition: transform 0.45s ease-in-out;
    button {
      position: absolute;
      bottom: 2rem;
      left: 0;
      right: 0;
      opacity: 0;
      @keyframes fadeInBtn {
        to {
          opacity: 1;
        }
      }
    }
    &:hover {
      transform: translateY(0);
    }
    &:hover button {
      animation: fadeInBtn 0.9s 0.25s ease-in-out forwards;
    }
  }
  @media screen and (max-width: 992px) {
    max-width: 100vw;
    margin-inline: 1rem;
    margin-block: 2rem;
  }
}
