@use '../general/variables' as var;

.link-next {
  font-weight: bold;
  position: relative;
  color: var.$primary-clr-50;
  &:hover {
    color: inherit;
    text-decoration: underline;
  }
  &::after {
    content: '\203A';
    position: absolute;
    font-size: 2rem;
    bottom: 0.2rem;
    bottom: 20%;
    right: -1rem;
    height: 2rem;
    font-size: 2rem;
    color: var.$primary-clr-50;
  }
}
.link-clr-white {
  color: #fff;
  &::after {
    color: #fff;
  }
}
