// color variables
$primary-clr-100: #0a2d82;
$primary-clr-75: #075b94;
$primary-clr-50: #0073be;

$secondary-clr-100: #9db000;
$secondary-clr-50: #cbe300;

$accent-clr-100: #a71d3b;
$accent-clr-50: #e6325a;

// border
$border-radius: 0.3rem;

// shadow
$shadow-xs: 0 3px 5px rgba(49, 49, 49, 0.827);
$shadow-sm: 0 0 20px rgb(85 85 85 / 40%);
$shadow-md: 0 0 20px rgb(0 0 0 / 49%);
